.popup__job {
    width: 358px;
    height: 27px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 13px;
    margin: 0 0 48px 0;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    box-sizing: border-box;
}

@media all and (max-width: 880px) {
    .popup__job {
        width: 238px;
        height: 14px;
        font-size: 18px;
        line-height: 22px;
    }
}