.profile__edit-button {
    width: 24px;
    height: 24px;
    margin: 0 0 0 18px;
    background-image: url(../../../images/Vector_edit.svg);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 1;
    transition: all .2s;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media all and (max-width: 618px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}

@media all and (max-width: 940px) {
    .profile__edit-button {
        position: absolute;
        top: 30px;
        right: -30px;
    }
}

@media all and (min-width: 619px) and (max-width: 940px) {
    .profile__edit-button {
        right: -40px;
    }
}