.popup__input {
    width: 358px;
    height: 27px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.popup__input:focus {
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2%;
}

@media all and (max-width: 880px) {
    .popup__input {
        width: 238px;
    }
}