.profile {
    display: grid;
    grid-template-columns: 120px auto auto;

    color: #fff;
    margin: 0 auto 0 auto;
    max-width: 1280px;
}

@media all and (max-width: 940px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;


    }
}