.header {
    min-height: 74px;
    margin: 0 0 40px 0;
    border-bottom: 1px solid;
    border-color: rgba(84, 84, 84, 0.7);
    box-sizing: border-box;
}

@media all and (max-width: 620px) {
    .header {
        max-width: 620px;
        min-height: 56px;
        margin: 0 -19px 42px -19px;
    }
}