.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    row-gap: 20px;
    column-gap: 17px;
    margin: 51px auto 67px auto;
    justify-content: center;
}

@media all and (max-width: 940px) {
    .elements {
        margin: 36px auto 48px auto;
    }
}