.profile__name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 42px;
    line-height: 48px;
    text-align: start;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 294px;
}

@media all and (max-width: 940px) {
    .profile__name {
        font-size: 27px;
        line-height: 32.68px;
        text-align: center;
        margin: 22px 0 14px 0;
    }
}

@media all and (min-width: 941px) and (max-width: 1050px) {
    .profile__name {
        font-size: 36px;
        line-height: 40px;
    }
}