.card__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Vector_like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    overflow: visible;
    border: none;
    padding: 0;
    margin: 0 5px 0 0;
    opacity: 1;
    cursor: pointer;
    transition: all .2s; 
}

.card__like:hover {
    opacity: 0.6;
}