.popup__cross {
    background-image: url(../../../images/Close\ Icon.svg);
    position: absolute;
    top: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    width: 32px;
    height: 32px;
    margin-top: -42px;
    margin-right: -44px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
}

.popup__cross:hover {
    opacity: 0.6;
}